urllib3==1.26.16
numpy==1.26.4
xarray==2025.3.0
netCDF4==1.7.2
psutil==5.9.0
dask==2025.3.0
rioxarray==0.18.2
rasterio==1.4.3
geopandas==1.0.1
shapely==2.0.7
tqdm==4.67.1
pytest==8.3.5
pytest-cov==6.1.1
flake8==7.2.0
flake8_docstrings==1.7.0
coverage==7.8.0
pyspark==3.5.5